html, body{
    margin:0;
    padding:0;
    margin-top: 220px;
    margin-left: 100px;
}
/* THE VERIFICATION TOOLTIP */
.verification_tooltip {
    position: absolute;
    top: -256px;
    left: -60px;
    height: 240px;
    width: 420px;
    background-color: #e1e1e1;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 2px solid #d8d8d8;
}
.tooltip_title {
    flex: 0 0 10%;
    text-align: center;
}
.tooltip_pictures_box {
    flex: 0 0 79%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tooltip_pictures_box>div {
    flex: 0 0 31%;
    height: 30%;
    background-color: #c3c3d3;
    margin: 2px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.25s all ease;
}
.tooltip_pictures_box>div.selected {
    border: 2px solid #232395;
}
.tooltip_buttons {
    padding-top: 5px;
    flex: 0 0 10%;
    display: flex;
    flex-direction: row;
}
.tooltip_buttons>div {
    flex: 0 0 33%;
}
.tooltip_link_new_box {
    align-self: center;
    text-align: right;
    font-size: 0.9em;
    color: #434343;
    text-decoration: underline;
}
.linkNew{
    cursor: pointer;
    display: inline;
}
.tooltip_button_OK_box {
    align-self: center;
    text-align: center;
}
.btnOK {
    background-color: #232395;
    width: 85px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: 600;
    font-size: 0.95em;
    cursor: pointer;
    border: 2px solid transparent;
    margin: auto;
    transition: 0.25s all ease;
}
.btnOK:hover {
    background-color: #232395c9;
}
span.word_to_find {
    color: #232395;
    font-weight: 700;
}








/*  THE CAPCHA BOX */

div#captcha {
    width: 300px;
    max-width: 300px;
    height: 50px;
    max-height: 50px;
    position: relative;
    background-color: #e1e1e1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-family: 'Nunito', sans-serif;
    border: 2px solid #d8d8d8;
    border-radius: 3px;
    cursor: default;
    transition: 0.3s all ease;
}
div#captcha:hover {
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    background-color: #ebebeb;
}
div#captcha .text_powered {
    flex: 0 0 20%;
    align-self: center;
    text-align: center;
    font-size: 0.5em;
}
div#captcha .text_robot {
    flex: 1 1 60%;
}

div#captcha .checkbox_div {
    flex: 1 0 20%;
}
div#captcha .checkbox_div .checkbox_box {
    width: 30px;
    height: 30px;
    background-color: #f3f3f3;
    margin: auto;
    border: 2px solid #9c9c9c;
    border-radius: 3px;
    cursor:pointer;
}
div#captcha .checkbox_div .checkbox_box:hover {
    background-color: #eef2ff;
}